td{
    border: 1px solid gray;
}

label{
    width: 250px;
    float: left;
}

label.c50{
    width: 50px !important;
}

input[type="text"]{
    width: 200px;
}

input[type="number"]{
    width: 50px;
}

input.desc[type="text"]{
    height: 4ch;
}

input:disabled + label{
    color: slategray;
}

input:disabled{
    color: slategray;
}

p#result{
    border: 2px;
}